# NPM Registry Configuration
# Use o registry oficial do NPM, não o proxy interno

registry=https://registry.npmjs.org/
@npm:registry=https://registry.npmjs.org/

# Desabilitar uso de proxy
no-proxy=registry.npmjs.org
proxy=null
https-proxy=null
strict-ssl=true

